@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html{
	scroll-behavior: smooth;
}


/*Navigation bar start......................................................*/
.navbar{

	background: #131313;
	padding: 1rem 8rem;
	z-index: 1000;
}

.navbar-brand{
	font-size: 1.5rem;
	font-weight: 700;
}
 
#navbarSupportedContent > ul > li:nth-child(n) > a {

	color: #fff;
	font-size: 1.1rem;
	padding: 0rem 0.75rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a.active
{

	color: #00BF85;

}

#navbarSupportedContent > button{

	background-color: #00BF85;
	font-weight: 700;
	padding: 0.4rem 0.8rem;
	border-radius: 30px;
	border-color: black;
}

/*Navigation bar end.........................................................*/



/*Front part start.........................................................*/
.mid{

	background-color: #000;
	
	overflow: hidden;
	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;	
}
 
.mid video{
	
	width: 100%;
	height: 100%;
	pointer-events: none;
	object-fit: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}

.hero{
	position: relative;
}

.mid .hero p{
	width: 55%;
	font-size: 1.1rem;
	letter-spacing: 0.2rem;
	padding-bottom: 1rem;
}

.mid .hero a{

	background-color: #00BF85;
	font-weight: 700;
	padding: 0.6rem 0.8rem;
	border-radius: 30px;
	text-decoration: none;
	color: #111;
}

.mid .hero a:hover{
	color: #fff;
}

/*Front part end..............................................................*/




/*Middle part=1 start.......................................................*/

.about{
	background-color: #000;
}

.about .text{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;

}

.about .text h6{

	color: #00BF85;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;

}

.about .text h2{

	color: #F7F5f4;
	font-weight: bolder;
	font-size: 2.7rem;
	
}

.about .text p{

	color: #F7F5f4;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	
}

.about .text a{

	background-color: #00BF85;
	font-weight: 700;
	padding: 0.6rem 1rem;
	border-radius: 30px;
	text-decoration: none;
	color: #111;
}

/*Middle part-1 End.......................................................*/



/*Middle part=2 start.....................................................*/
.discover .text{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;

}

.discover .text h6{

	color: #00BF85;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;

}

.discover .text h2{

	color: black;
	font-weight: bolder;
	font-size: 2.7rem;
	
}

.discover .text p{

	color: black;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	
}

.discover .text a{

	background-color: black;
	font-weight: bold;
	padding: 0.6rem 1rem;
	border-radius: 30px;
	text-decoration: none;
}

/*Middle part=2 end.....................................................*/




/*Services part start..................................................*/

.service{
	background-color: #000;
}

.service .one{
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.service .two{
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.service .three{
	background-color: #fff;
	border-radius: 1rem;
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

/*Services part end..................................................*/



/*sign up part started...............................................*/


.signup .text h6{

	color: #00BF85;
	font-weight: 800;
	font-size: 1rem;
	letter-spacing: 2px;

}

.signup .text h2{

	color: #000;
	font-weight: bold;
	font-size: 2.7rem;
	
}

.signup .text p{

	color: #000;
	font-weight: 400;
	font-size: 1.1rem;
	letter-spacing: 0.5px;
	
}

.signup .text a{

	background-color: #000;
	font-weight: 500;
	padding: 0.6rem 1rem;
	border-radius: 30px;
	text-decoration: none;
}


/*sign up part end...............................................*/



/*Footer start.................................................................*/


.page-footer{

	background-color: #000;
}

body > footer > ul.list-unstyled.list-inline.text-center.py-2 > li:nth-child(2) > a{



	background-color: #00BF85;
	font-weight: 700;
	padding: 0.4rem 0.8rem;
	border-radius: 30px;
	text-decoration: none;
	border: none;
}



/*Footer End.................................................................*/

@media screen and (max-width: 988px)
{

	.navbar{
	
	padding: 1.5rem;
	
	}

	#navbarSupportedContent > ul{

		padding-left: 0.8rem;
	}

	#navbarSupportedContent > ul > li:nth-child(n) > a{

		padding: 0.8rem 0;

	}

	#navbarSupportedContent > button{

		margin: 0.8rem 0;

	}

	.mid .hero h2{
	
	font-size: 2.5rem;
	
	}

	.mid .hero p{
	
	font-size: 0.8rem;
	
	}

	.mid .hero a{

	font-size: 0.9rem;

	}
}